/*.grid{
	display: grid;
}

.container {}
	grid-template-areas:	"button tweets";
}*/

body {

}

button {
	background-color: aquamarine;
	font-size: 30px;
/*	grid-area: button;*/

}

.user {
	background-color: LightBlue;
	font-size: 20px;
}

div {
	
}

.even {
	background-color: LightGreen;
}

.odd {
}